@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant backgrounddark (&:where(.backgrounddark, .backgrounddark *));

/*===========================================================================================================================*/
:root {
  --background: #181818;
  --foreground: #002525;
  --color-titletext: #aaa9a9;
  --color-variableblue: #e5e5e5;
  --color-variablebluedark:#bababa;
  --color-variablepurple: #d1cece;
  --color-textdescription:#afacac ;
  
}

.dark{
    --background:#181818;
    --foreground: #f2f2f2;
    --color-titletext: #78707e;
    --color-variableblue: #3b3b3b;
    --color-variablebluedark:#242323;
    --color-variablepurple: #302e2e;
    --color-textdescription:#78707e ;
}

/*===========================================================================================================================*/

.invisible-scrollbar::-webkit-scrollbar{
  display: none;
}

/*===========================================================================================================================*/

.styled-scrollbar::-webkit-scrollbar {
  width: 12px;
  
}

.styled-scrollbar::-webkit-scrollbar-track {
  width: 12px;
  display:none;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-variablebluedark);
  border-radius: 6px;         
}
/*===========================================================================================================================*/

.noselect {
  user-select: none;
  -webkit-user-select: none; /* Safari compatibility */
  -moz-user-select: none; /* Firefox compatibility */
  pointer-events: none; /* Disables click events and prevents dragging */
}
/*===========================================================================================================================*/

*{
@apply transition-colors duration-200
}

/*===========================================================================================================================*/
@theme{
  --breakpoint-4lg: 118.75rem;
  --breakpoint-3lg: 93.75rem;
  --breakpoint-2lg: 78.75rem;
  --breakpoint-2md: 56.25rem;
  --breakpoint-xsm: 35rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-browserwindow:"Rubik Iso", system-ui;
}

/*===========================================================================================================================*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
